*{
    margin: 0%;
}

.wrapper1 {
    display: grid;
    grid-template-areas: 
    'na na na' 
    'd1 d1 d1'
    'a1 a1 a1'
    'd2 d2 d2'
    'fo fo fo';
    grid-template-columns: 10% 15% 75%;
    grid-template-rows: 7.5% 25% 27.5% 30% 10%;
    height: 100vh;
    width: 100vw;
    grid-gap: 0px;
    background-color: rgba(183,201,187);
}

.nav {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-area: na;
    background-color: black;
}

.indexdiv1 {
    grid-area: d1;
    grid-gap: 5px;
}

.indexarticle1{
    grid-area: a1;
}


.indexdiv2 {
    grid-area: d2;
}

.footer {
    grid-area: fo;
}


.wrapper2 {
    display: grid;
    background-color: rgba(183,201,187);
}

.wrapper3 {
    display: grid;
    background-color: rgba(183,201,187);
}

.wrapper4 {
    display: grid;
    background-color: rgba(183,201,187);
}

.wrapper5 {
    display: grid;
    background-color: rgba(183,201,187);
}