*{
    margin: 0%;
}

.wrapper1 {
    display: grid;
    grid-template-areas: 
    'na na na' 
    'd1 d1 d1'
    'a1 a1 a1'
    'd2 d2 d2'
    'fo fo fo';
    grid-template-columns: 10% 15% 75%;
    grid-template-rows: 5% 25% 30% 30% 10%;
    height: 160vh;
    width: 96.8vw;
    grid-gap: 0px;
    background-color: rgba(183,201,187);
}

.nav {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-area: na;
    background-color: black;
}

.indexdiv1 {
    margin: 5%;
    grid-area: d1;
    grid-gap: 5px;
}

.indexdiv1 div{
    background: linear-gradient(to bottom
    white 100%);
}

.indexdiv1 img{
    height: 22vh;
    width: 85vw;
}

.indexdiv1 article{
    font-size: 200%;
}

.indexarticle1{
    margin: 5%;
    grid-area: a1;
    font-size: 200%;
}

.indexarticle1 article{
    font-size: 50%;
    color: rgba(85,93,96);
}


.indexdiv2 {
    margin: 5%;
    grid-area: d2;
    font-size: 200%;
}

.indexdiv2 article{
    font-size: 50%;
    color: rgba(85,93,96);
}

.footer {
    grid-area: fo;
    display: flex;
    align-self: center;
    justify-self: center;
    font-size: 70%;
    color: rgba(85,93,96);
}

@media screen and(min-width:1000px){
    .wrapper1{
        display: grid;
        grid-template-areas: 
        'na na na'
        'd1 d1 d1'
        'd2 d2 d2'
        'fo fo fo'
        ;
        grid-template-columns: 25% 25% 50%;
        grid-template-rows: 15% 35% 30% 20%;
        height: 140vh;
        width: 100vw;
    }
}


.wrapper2 {
    display: grid;
    background-color: rgba(183,201,187);
    grid-template-areas: 
    'nav'
    'img'
    'art'
    'foo'
    ;
    grid-template-columns: 100%;
    grid-template-rows: 6% 39% 45% 10%;
    width: 100vw;
    height: 98vh;
    grid-gap: 5px;
}

.wrapper2 nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    background-color: black;
}

.wrapper2 img {
    grid-area: img;
    margin: 5%;
}

.wrapper2 article {
    grid-area: art;
    margin: 5%;
}

.titelOmAteljeLouise {
    font-size: 230%;
}

.wrapper2 footer {
    grid-area: foo;
    display: flex;
    align-self: center;
    justify-self: center;
    font-size: 70%;
    color: rgba(85,93,96);
}

.wrapper3 {
    display: grid;
    background-color: rgba(183,201,187);
    grid-template-areas: 
    'na na na'
    'd1 d1 d1'
    'd2 d2 d2'
    'fo fo fo'
    ;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 2% 40% 48% 10%;
    width: 97.4vw;
    height: 300vh;
    grid-gap: 0px;
}

.wrapper3 nav {
    grid-area: na;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    background-color: black;
}

.ForstaBildPartiet {
    grid-area: d1;
    margin: 14px;
}

.ForstaBildPartiet img {
    height: 48vh;
    width: 45vw;
}

.ForstaBildPartiet h1 {
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.AndraBildPartiet {
    grid-area: d2;
    margin: 14px;
}

.AndraBildPartiet img {
    height: 48vh;
    width: 45vw;
}

.wrapper3 footer {
    grid-area: fo;
    display: flex;
    align-self: center;
    justify-self: center;
    font-size: 70%;
    color: rgba(85,93,96);
}

.wrapper4 {
    display: grid;
    background-color: rgba(183,201,187);
    grid-template-areas: 
    'na na na na'
    'd1 d1 d1 d1'
    'ar ar ar ar'
    'd2 d2 d2 d2'
    'fo fo fo fo'
    ;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 2% 40% 14% 36% 8%;
    height: 330vh;
    width: 96vw;
}

.wrapper4 nav{
    grid-area: na;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    background-color: black;
}

.shoptitel {
    font-size: 200%;
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 10px;
}

.div1shop {
    grid-area: d1;
    margin: 10px;
}

.div1shop img {
    height: 40vh;
    width: 30vw;
}

.wrapper4 article {
    grid-area: ar;
    margin: 10px;
}

.wrapper4 a {
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 10px;
}

.övretextshopsida {
    font-size: 110%;
    display: flex;
    align-self: center;
    justify-content: center;
}

.undretextshopsida {
    font-size: 140%;
    display: flex;
    align-self: center;
    justify-content: center;
}

.urvaltyger {
    font-size: 110%;
    display: flex;
    align-self: center;
    justify-content: center;
}

.div2shop {
    grid-area: d2;
    margin: 10px;
}

.div2shop img {
    height: 40vh;
    width: 30vw;
}

.wrapper4 footer {
    grid-area: fo;
    display: flex;
    align-self: center;
    justify-self: center;
    font-size: 70%;
    color: rgba(85,93,96);
    margin: 10px;
}

.wrapper5 {
    display: grid;
    background-color: rgba(183,201,187);
    grid-template-areas: 
    'na'
    'im'
    'a1'
    'a2'
    'fo'
    ;
    grid-template-columns: 100%;
    grid-template-rows: 3.5% 20% 41.5% 29% 6%;
    height: 200vh;
    width: 97vw;
}

.wrapper5 nav {
    grid-area: na;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    background-color: black;
}

.wrapper5 img {
    grid-area: im;
}

.skrivmeddelande {
    padding: 16px;
}

input[type=text], input[type=email], input[type=topic], input[type=meddelande] {
    width: 94%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: white;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.skickameddelande {
    background-color: #E6787C;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.wrapper5 div {
    grid-area: a1;
}

.wrapper5 article {
    grid-area: a2;
}

.kontaktamig h1 {
    font-size: 200%;
}

.wrapper5 footer{
    grid-area: fo;
    display: flex;
    align-self: center;
    justify-self: center;
    font-size: 70%;
    color: rgba(85,93,96);
}

